.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(211, 224, 185);
}
.chat--div{
    position: relative;
    height: 500px;
    width: 700px;
    
}


