body {
  background-color: rgb(213, 247, 233);
}

.moduleContainer {
  width: 500px;
  /* height: 500px; */
  background-color: #a4e6e4;
  border: 3px solid rgb(11, 164, 161);
  border-radius: 20px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.moduleContainer h1 {
  font-weight: 900;
}

.moduleCard {
  background-color: #fff;
  margin: 10px 30px;
  border-radius: 20px;
  border: 3px solid rgb(43, 173, 111);
}

.moduleUl {
  /* margin: 10px 30px ; */
  background-color: #d4f4e1;
  border-radius: 12px;
}

.field {
  font-weight: bolder;
  margin: 3px;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}

.deleteModule {
  background-color: red;
  padding: 10px;
  width: max-content;
  border-radius: 12px;
  margin: 10px;
}
.addModule {
  background-color: rgb(65, 204, 217);
  border: 3px solid rgb(14, 233, 182);
  padding: 10px;
  width: max-content;
  border-radius: 12px;
  margin: 20px;
  font-weight: 900;
  margin: auto;
  padding: 10px 50px;
}
